<a href="https://colab.research.google.com/github/HwangHanJae/Dacon_wine_classfication/blob/main/Dacon_wine_classification_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이콘 [화학] 와인 품질 분류 스터디
  - [링크](https://dacon.io/competitions/open/235610/overview/description)

# 0.소개

# 1.라이브러리 로드

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import set_matplotlib_formats
plt.style.use('ggplot')
set_matplotlib_formats('svg')

In [19]:
#데이터 셋 로드
train = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DataScience/Data/wine/train.csv")
test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DataScience/Data/wine/test.csv")

# 2.머신러닝

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

## 2.1 데이터 정제

In [21]:
#타겟 데이터 분류하기
y_train = train['quality']
y_train.shape

(5497,)

In [22]:
#사용하지 않는 데이터 drop하기
train = train.drop(['index', 'quality'], axis=1).copy()
train.head(3)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol   type
0            5.6             0.695         0.06  ...       0.44     10.2  white
1            8.8             0.610         0.14  ...       0.59      9.5    red
2            7.9             0.210         0.39  ...       0.52     10.9  white

[3 rows x 12 columns]

In [23]:
#사용하지 않는 데이터 drop 하기
test_index = test['index']

test = test.drop(['index'],axis=1).copy()

In [24]:
#type 특성 One-Hot-Encoding하기
train = pd.get_dummies(data=train,columns= ["type"], prefix='type',).rename(columns={"type_0" : "type_red", "type_1" : "type_white"})
test = pd.get_dummies(data=test,columns= ["type"], prefix='type',).rename(columns={"type_0" : "type_red", "type_1" : "type_white"})

train.shape, test.shape

((5497, 13), (1000, 13))

## 2.2 데이터 셋 나누기

In [16]:
X_train, X_val, y_train, y_val = train_test_split(train, y_train, test_size=0.2, random_state=42)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((4397, 13), (1100, 13), (4397,), (1100,))

##2.3 훈련 및 평가

In [17]:
#LogisticRegression
lr = LogisticRegression(n_jobs=-1, random_state=42)
lr.fit(X_train, y_train)
lr_score = lr.score(X_val, y_val)

#KNeighborsClassifier
knn = KNeighborsClassifier(n_jobs=-1)
knn.fit(X_train, y_train)
knn_score = knn.score(X_val, y_val)

#DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state=42)
tree.fit(X_train, y_train)
tree_score = tree.score(X_val, y_val)

#RandomForestClassifier
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
rf.fit(X_train, y_train)
rf_score = rf.score(X_val, y_val)

#GradientBoostingClassifier
gb = GradientBoostingClassifier(random_state=42)
gb.fit(X_train, y_train)
gb_score = gb.score(X_val, y_val)

#XGBClassifier
xgb =XGBClassifier(random_state=42, n_jobs=-1)
xgb.fit(X_train, y_train)
xgb_score = xgb.score(X_val, y_val)

#LGBMClassifier
lgbm = LGBMClassifier(random_state=42, n_jobs=-1)
lgbm.fit(X_train, y_train)
lgbm_score = lgbm.score(X_val, y_val)

print("lr : {:.3f}".format(lr_score))
print("knn : {:.3f}".format(knn_score))
print("tree : {:.3f}".format(tree_score))
print("rf : {:.3f}".format(rf_score))
print("gb : {:.3f}".format(gb_score))
print("xgb : {:.3f}".format(xgb_score))
print("lgbm : {:.3f}".format(lgbm_score))

lr : 0.465
knn : 0.474
tree : 0.599
rf : 0.682
gb : 0.565
xgb : 0.558
lgbm : 0.633

In [25]:
#LogisticRegression
lr = LogisticRegression(n_jobs=-1, random_state=42)
lr.fit(train, y_train)
lr_score = lr.score(X_val, y_val)

#KNeighborsClassifier
knn = KNeighborsClassifier(n_jobs=-1)
knn.fit(train, y_train)
knn_score = knn.score(X_val, y_val)

#DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state=42)
tree.fit(train, y_train)
tree_score = tree.score(X_val, y_val)

#RandomForestClassifier
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
rf.fit(train, y_train)
rf_score = rf.score(X_val, y_val)

#GradientBoostingClassifier
gb = GradientBoostingClassifier(random_state=42)
gb.fit(train, y_train)
gb_score = gb.score(X_val, y_val)


#XGBClassifier
xgb =XGBClassifier(random_state=42, n_jobs=-1)
xgb.fit(train, y_train)
xgb_score = xgb.score(X_val, y_val)

#LGBMClassifier
lgbm = LGBMClassifier(random_state=42, n_jobs=-1)
lgbm.fit(train, y_train)
lgbm_score = lgbm.score(X_val, y_val)

In [26]:
y_pred = lgbm.predict(test)

# 5.제출

In [27]:
sample_submit = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DataScience/Data/wine/sample_submission.csv")

sample_submit['quality'] = y_pred

(sample_submit['quality'] == y_pred).all()

True

In [28]:
sample_submit.to_csv("/content/drive/MyDrive/Colab Notebooks/DataScience/My CSV/Dacon/wine/basic_sumbit_4.csv", index=False)

In [29]:
submit = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DataScience/My CSV/Dacon/wine/basic_sumbit_4.csv")
(submit == sample_submit).all()

index      True
quality    True
dtype: bool

In [30]:
submit.head()

   index  quality
0      0        5
1      1        5
2      2        5
3      3        5
4      4        6